.about{
    padding:2rem;
    .aboutContainer{
        margin-top:20rem;
        max-width: 90%;

        .cardContainer{
            display:flex;
            gap:2rem;

            .card{
                max-width: 30rem;
            
                .bulletLabel{
                    font-weight: 600;
                }
            }
        }
    }
}