@import "../Base.scss";

.flipCard{
    width:calc(15rem + 10vw);
    height:30rem;
    perspective: 1000px; 
    background-color: $bg-color-mint-green;
    padding:1rem;
    border-radius: $border-radius-standard;
    font-size: $txt-xs;

    &.turn .flipCardContent{
        transform: rotateY(180deg);
    }
    
.flipCardContent{
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
    .picContainer{
        width:90%;
        margin:0 auto;
        .pic{
            border-radius: $border-radius-standard;
            max-width: 100%;
            max-height:100%;
            margin:1rem auto;
        }
    }

    .textContainer{
        max-width: 85%;
        margin:0 auto;
    }
}
.flipCardFront, .flipCardBack{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; //Safari
    backface-visibility: hidden;
}

.flipCardBack {
    transform: rotateY(180deg);
}


.button{
    padding:0.5rem;
    position:fixed;
    bottom:1rem;
    right: 0;
    font-size: 3rem;
    color:$font-color-light-gray
}

}
