@import "../Base.scss";

.flipCard{
    position: absolute;
    width:85%;
    height:85%;
    perspective: 1000px; 
    background-color: $bg-color-mint-green;
    padding:1rem;
    border-radius: $border-radius-standard;

    &.turn .flipCardContent{
        transform: rotateY(180deg);
    }
    
.flipCardContent{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
    .pic{
        border-radius: $border-radius-standard;
        max-width: 100%;
        max-height:50%;
        margin:0 auto;
    }

    p{
        margin:0;
        text-align: left;
    }
}
.flipCardFront, .flipCardBack{
    flex-direction: column;
    gap:2rem;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

// .flipCardFront {
//     background-color: #bbb;
//     color: black;
// }

.flipCardBack {
    transform: rotateY(180deg);
}


.button{
    padding:0.5rem;
    position:fixed;
    bottom:1rem;
    right: 0;
    font-size: 3rem;
    color:$font-color-light-gray
}

}
