@import "../Base.scss";

.profileContainer{
    position:relative;
    top:20vh;
    left:5rem;
    width:25rem;
    height: 30rem;
    padding:1rem;
    border:5px dotted $font-color-light-gray-see-through;
    border-radius: $border-radius-standard;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;

    .profilePic{
        border-radius: $border-radius-standard;
        margin:0 auto;
    }

    .profileText{
        max-width: 85%;
    }
}