@import "../../components/Base.scss";

.home{

  font-family: $font-base-roboto;
    background-color: $bg-color-bubblegum;
    min-height: 100vh;
    color: #6B686B;

    .carousel{
      max-width: 80vw;
      margin:0 auto;
    }

  

}
