@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@300&family=Rubik+Iso&display=swap');

//Background colors
$bg-color-bubblegum:#F6E1F6;
$bg-color-antracite: #595759;
$bg-color-mint-green:#daffe7;


//Font colors
$font-color-light-gray:#6B686B;
$font-color-light-gray-see-through:#6b686b63;

//Fonts
$heading-font-rubik-iso:'Rubik Iso';
$font-base-roboto:'Roboto', sans-serif;

//Font weights
$font-wight-medium-bold:600;

//Border related
$border-radius-standard:5%;
