@import "../Base.scss";

.navbarContainer{
    display: flex;
    gap:2rem;
    align-items: center;
    justify-content: center;
    height: 10rem;
    width:100vw;
    position:fixed;
    top:0;
    padding:1rem 0;
    font-size: $txt-heading-big;

    a{
        text-decoration: none;
        color:black;
        .heading{
            width:fit-content;
            font-family: $heading-font-rubik-iso;
        }

    }

    .computerIcon{
        padding-top:1.8rem;
    }
}