@import "../Base.scss";

.bgContentSlide1{
    .listHeading{
        font-weight: 600;
        justify-content: center;
    }
    flex-direction: column;
    text-align: left;
   li{
    margin-bottom:1rem;
   }
}

.bgContentSlide2{
    // border:solid;
    max-width:90%;

    .itemContainer{
        display: flex;
        gap:1rem;
        .label{
            font-weight: 600;
        }

        .linkedinIcon{
            font-size: $txt-xxl;
            margin:2rem auto;
            color:black;
        }
    }
}