.bgContentSlide1{
    .listHeading{
        font-weight: 600;
        justify-content: center;
    }
    flex-direction: column;
    text-align: left;
   li{
    margin-bottom:1rem;
   }
}

.bgContentSlide2{
    border:solid;
}