
@import "../Base.scss";

.carouselContainer{
    padding-top: 15rem;
    .sliderWrapper{
        position: relative;
        z-index: 2;
        
        .hiddenText{
            font-size: 6rem;
            position:absolute;
            width:65%;
            left:25%;
            top:30%;
            font-family: $heading-font-rubik-iso;
        }
        
        .slider{
            z-index: 1;
            overflow: hidden;
            :nth-child(1){
                display: flex;
            }

            ul{
                flex-direction: column;
            }
          
        .slide{
            position:relative;
            padding:2rem;
        }
    }
    .carouselButtons{
        width:fit-content;
        margin:1rem auto;

        .navButton{
            font-size: 1.2rem;
            margin-right:1rem;
            border:none;
        }
    }
}

}